<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Войти в Bank</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
</head>
<body>

<main class="auth-page">
    <section class="auth-card">
        <div class="auth-header">
            <a href="../accounts/index.html" th:href="@{/}" class="auth-logo">Bank</a>
            <span>Вход в аккаунт</span>
            <h1>Войти</h1>
        </div>

        <form class="auth-form" method="post" th:action="@{/login}">
            <fieldset class="login-method">
                <legend>Войти через</legend>

                <div>
                    <label class="login-method-option">
                        <input type="radio" name="loginType" value="phone" checked>
                        <span>Номер телефона</span>
                    </label>

                    <label class="login-method-option">
                        <input type="radio" name="loginType" value="email">
                        <span>Почта</span>
                    </label>
                </div>
            </fieldset>

            <div class="auth-field">
                <label for="login">Номер телефона или почта</label>
                <input id="login" name="login" type="text" placeholder="+7 700 000 00 00 или mail@example.com" required>
            </div>

            <div class="auth-field">
                <label for="password">Пароль</label>
                <input id="password" name="password" type="password" placeholder="Введите пароль" required>
            </div>

            <button class="auth-submit-button" type="submit">Войти</button>

            <p class="auth-switch-link">
                Нет аккаунта?
                <a href="register.html" th:href="@{/register}">Зарегистрироваться</a>
            </p>
        </form>
    </section>
</main>

</body>
</html>
